body {
  font-family: "Lato", sans-serif;
  --accent-color: #005fa3;
  --first-line-color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

/*=======Header=======*/

.first-line {
  font-family: inherit;
  font-size: 13px;
  line-height: 17px;
  /* identical to box height */

  color: var(--first-line-color);
}

.first-line:hover,
.first-line:focus {
  color: var(--accent-color);
}

/*=======End of Header=======*/

/*=======Hero=======*/
.hero-section {
  background-color: rgb(51, 58, 58);
}

.hero-title {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.38;

  color: #ffffff;
}

.modal-button {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  /* identical to box height */

  text-align: center;

  /* White */

  color: #ffffff;

  width: 270px;
  height: 60px;
  left: 405px;
  top: 477px;
  background-color: var(--accent-color);
}

/*=======End of Hero=======*/

.clients li {
  list-style-type: none;
  display: inline;
  margin-right: 30px;
}

.clients li img {
  width: 255px;
  height: 130px;
}

.clients-buttons ul {
  display: inline;
}

.ellipse li {
  list-style-type: none;
  display: inline;
  margin-right: 30px;
}

.buttons li {
  list-style-type: none;
  display: inline;
}

.ellipse {
  float: left;
}

.buttons {
  float: right;
}

.reviews {
  clear: both;
}

.services li {
  list-style-type: none;
  float: left;
  width: 350px;
  height: 360px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.about-us {
  clear: left;
}
